<div class="jumbotron masthead">
  <div class="container">
    <br>
    <br>
    <h1>VIRUS #3 IN DEVELOPMENT</h1>
    <br>
  </div>
</div>




<p>FUNCTION TO UNLOCK VIRUS #3: FILL IN BOX WITH FUNCTION CALLED virus THAT accepts an array and returns the reverse array. FOR EXAMPLE: If input [1, 2, 3], output should be [3, 2, 1]</p>

<div class="virus">
</div>

<%= form_tag "/check_15" do %>
  <%= text_area_tag :function, nil, {style: "width:400px; height: 400px;"} %>
  <br>
  <%= submit_tag :submit, class: "btn btn-primary btn-large" %>
<% end %>

