<div class="jumbotron masthead">
  <div class="container">
    <br>
    <br>
    <h1>SUSPICIOUS ACTIVITY DETECTED!!!</h1>
    <br>
  </div>
</div>

<p>REASON: User Type Too Slow</p>

<p>BEGIN IS 0. TURN INTO 13</p>

<a><%= @number %></a>
<br>
<br>
<br>

<a href="/uutx?button=1" class="btn btn-large">1</a>
<a href="/uutx?button=2" class="btn btn-large">2</a>
<a href="/uutx?button=3" class="btn btn-large">3</a>
<a href="/uutx?button=4" class="btn btn-large">4</a>
<a href="/uutx?button=5" class="btn btn-large">5</a>
<br>
<br>
<a href="/uutx?start=over" class="btn btn-large">START OVER</a>

