<br>
<br>
<br>
<br>
<br>


<div class="accordion" id="accordion2">
  <div class="accordion-group">
    <div class="accordion-heading">
      <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseTwo">
        CLICK ME
      </a>
    </div>
    <div id="collapseTwo" class="accordion-body collapse">
      <div class="accordion-inner">
        HA! ANOTHER PUZZLE FOR you

        <br>
        <br>
        <br>

        <p class="lead">Sum of all even numbers 1 to 100000:</p>

        <%= form_tag "/check_12" do %>
          <%= text_field_tag :code, nil, {style: ""} %>
          <br>
          <%= submit_tag :submit, value: "TURN OFF RANSOMWARE", class: "btn btn-primary btn-large" %>
        <% end %>

      </div>
    </div>
  </div>
</div>