<div class="jumbotron masthead">
  <div class="container">
    <br>
    <br>
    <h1>VIRUS #2 IN DEVELOPMENT</h1>
    <br>
  </div>
</div>

<p>FUNCTION TO UNLOCK VIRUS #2: FILL IN BOX WITH FUNCTION CALLED virus THAT accepts an array of numbers AND returns the number of 55's in the original array.</p>

<%= form_tag "/check_14" do %>
  <%= text_area_tag :function, nil, {style: "width:400px; height: 400px;", class: "gradient2"} %>
  <br>
  <%= submit_tag :submit, class: "btn btn-primary btn-large" %>
<% end %>
