<div class="jumbotron masthead">
  <div class="container">
    <br>
    <br>
    <h1>SUSPICIOUS ACTIVITY DETECTED!!!</h1>
    <br>
  </div>
</div>

<p>REASON: UNKNOWN IP ADDRESS.</p>

<p>TO BE DOUBLE SURE WHO YOU ARE, ENTER SECOND PASSKEY:</p>

<%= form_tag "/check_2" do %>
  <%= text_field_tag :passkey %>
  <br>
  <%= submit_tag :submit, class: "btn btn-primary btn-large" %>
<% end %>

<p>REMEMBER: WE QUIZIKISTAN. VERY FEARED.</p>