<div class="jumbotron masthead">
  <div class="container">
    <br>
    <br>
    <h1>SUSPICIOUS ACTIVITY DETECTED!!!</h1>
    <br>
  </div>
</div>

<p>REASON: in quizikistan we no need reasons</p>

<p>ENTER CYBER CODE #2</p>

<%= form_tag "/check_8" do %>
  <%= text_field_tag :cyber_codes %>
  <br>
  <%= submit_tag :submit, class: "btn btn-primary btn-large" %>
<% end %>
