<div class="jumbotron masthead">
  <div class="container">
    <br>
    <br>
    <h1>RANSOMWARE ALREADY DEPLOYED. He he</h1>
    <br>
  </div>
</div>

<p></p>

<div class="page-header">
  <h1>TURN OFF RANSOMWARE MUST ANSWER FAMOUS QUIZIKISTANIAN PUZZLE:</h1>
</div>

<p></p>

<p class="lead">Take a 4 and multiply it by 9. Then take the result and multiply it by 9 again. Do this 100 times. What do you get?</p>

<%= form_tag "/check_10" do %>
  <%= text_field_tag :code, nil, {style: "width:1000px"} %>
  <br>
  <%= submit_tag :submit, value: "TURN OFF RANSOMWARE", class: "btn btn-primary btn-large" %>
<% end %>


