<div class="jumbotron masthead">
  <div class="container">
    <br>
    <br>
    <h1>CYBER WARFARE ROCKS!</h1>
    <br>
  </div>
</div>

<p>Quizikistan Central Headquarters like CYBER WARFARE. IT'S DUPER FUN.</p>

<button class="btn btn-large">COMMIT CYBER WARFARE</button>

<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<hr>

<p>Destroy CYBER WARFARE. ONLY DO THIS IF WE'RE ABOUT TO BE CAUGHT!!</p>

<%= form_tag "/check_7" do %>
  <%= label_tag :cyber_codes, "Enter Cyber Codes:" %>
  <%= text_field_tag :cyber_codes %>
  <br>
  <%= submit_tag :submit, value: "DESTROY CYBER WARFARE", class: "btn btn-primary btn-large" %>
<% end %>
