<div class="jumbotron masthead">
  <div class="container">
    <br>
    <br>
    <h1>Phishing Center</h1>
    <br>
  </div>
</div>

<p>Send the following Phish email to one million victims by pushing button below.</p>

<p>HERE IS EMAIL TEXT:</p>

<p>I am Dr. Bakare Tunde, the cousin of a Nigerian Astronaut, Air Force Major Abacha Tunde. He was the first African in space when he made a secret flight to the Salyut 6 space station in 1979. He was on a later Soviet spaceflight, Soyuz T-16Z, to the secret Soviet military space station Salyut 8T in 1989. He was stranded there in 1990 when the Soviet Union was dissolved. His other Soviet crew members returned to Earth on the Soyuz T-16Z, but his place was taken up by return cargo. There have been occasional supply flights to keep him going since that time. He is in good humor but wants to come home.</p>

<p>In the 14 years since he has been on the station, he has accumulated flight pay and interest amounting to almost $15,000,000. This is held in a trust at the Lagos National Savings and Trust Association. If we can obtain access to this money, we can place a down payment with the Russian Space Authorities for a return flight to bring him back to Earth. I am told this will cost $3,000,000. In order to access his trust fund, we need your assistance.</p>

<button class="btn btn-large">PHISH ONE MILLION PEOPLE</button>

<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<hr>

<p>Destroy Phishing Operations By Pressing next button. ONLY DO THIS IF WE'RE ABOUT TO BE CAUGHT!!</p>

<%= form_tag "/check_4" do %>
  <%= label_tag :agent_name, "Your Agent Name:" %>
  <%= text_field_tag :agent_name %>
  <br>
  <%= submit_tag :submit, value: "DESTROY PHISHING TERMINAL", class: "btn btn-primary btn-large" %>
<% end %>
