<div class="jumbotron masthead">
  <div class="container">
    <br>
    <br>
    <h1>PERMISSION GRANTED</h1>
    <br>
  </div>
</div>

<p>YOU HAVE BEEN ASSIGNED AGENT NAME. MEMORIZE IT AND DO NOT WRITE IT DOWN LEST THE ENEMY FINDS IT. YOUR AGENT NAME IS: <%= ('a'..'z').to_a[rand(26)].upcase + "A" + ('a'..'z').to_a[rand(26)].upcase + "O" + ('a'..'z').to_a[rand(26)].upcase + "A" %></p>

<p>IN MEANTIME, ENJOY QUIZIKISTAN NATIONAL ANTHEM:</p>
<iframe width="560" height="315" src="https://www.youtube.com/embed/oavMtUWDBTM?rel=0&amp;controls=0&amp;showinfo=0" frameborder="0" allowfullscreen></iframe>