<div class="jumbotron masthead">
  <div class="container">
    <br>
    <br>
    <h1>ALL VIRI DEACTIVICATED</h1>
    <br>
  </div>
</div>

<p>
ONE DAY, WE BUILD THIS VIRUS:
</p>

<iframe width="560" height="315" src="https://www.youtube.com/embed/nxM1cnphLpw?rel=0&amp;controls=0&amp;showinfo=0" frameborder="0" allowfullscreen></iframe>