<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<script>
confirm("ARE YOU SURE YOU WANT TO DESTROY NUCLEAR FACILITY?");
confirm("are you positive - absolutely sure to DESTROY nuclear program?");
confirm("THIS WILL BLOW UP AND DESTROY QUIZIKISTAN! ARE YOU SUUUUUUUUUUURE????")
</script>



<div class="foo"></div>
<div class="bar"></div>

<a id="hidden" style="visibility: hidden" href="http://code.divshot.com/geo-bootstrap/" class="btn btn-large">WE'LL BE BACK - NEXT TIME IN FORM OF WEBSITE FROM '90S (CLICK TO SEE)</a>

<script>
function showIt2() {
  document.getElementById("hidden").style.visibility = "visible";
}
setTimeout("showIt2()", 5000);
</script>