<div class="jumbotron masthead alert alert-error">
  <div class="container">
    <br>
    <br>
    <h3>RANSOMWARE OFF</h3>
    <br>
  </div>
</div>

<a href="http://www.nyan.cat/" class="btn btn-large">TRY OUT RANSOMWARE FOR YOURSELF</a>