<div class="jumbotron masthead">
  <div class="container">
    <br>
    <br>
    <h1>NO MOAR CYBER WARFARE :(</h1>
    <br>
  </div>
</div>

<p>
HERE ANOTHER WAY TO STOP CYBER WARFARE. note that two people typing on same keyboard bad idea.
</p>

<iframe width="560" height="315" src="https://www.youtube.com/embed/u8qgehH3kEQ?rel=0&amp;controls=0&amp;showinfo=0" frameborder="0" allowfullscreen></iframe>